@import '../../styles/modules/z-indexes';

$DESKTOP_FIXED_TOP_BAR_DURATION: 200ms;
$MOBILE_TOP_BAR_HEIGHT: 30px;

.fixed-top-bar {
	background: rgba(255, 0, 0, 0.198);
	z-index: $zi-fixed-top-bar;
	top: 0;
	right: 0;
	left: 0;
}

.mobile {
	min-height: $MOBILE_TOP_BAR_HEIGHT;
}

.desktop {
	transform: translateY(-102%);
	transition: transform $DESKTOP_FIXED_TOP_BAR_DURATION linear;
}

.desktop-active {
	transform: translateY(0);
}

:export {
	MOBILE_TOP_BAR_HEIGHT: $MOBILE_TOP_BAR_HEIGHT
}