$primary-font: 'Roboto', 'Arial';
$secondary-font: 'Cinzel';

html {
	font-family: $primary-font;
	font-size: 15px;
	font-weight: 300;
}

$title-3-font-size: 1.7rem;
$title-3-line-height: $title-3-font-size * 1.4;

.title-3 {
	font-family: $secondary-font;
	font-size: $title-3-font-size;
	line-height: $title-3-line-height;
	margin: 0;
	font-weight: 400;
}

p,
.paragraph-3 {
	font-family: $primary-font;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5em;
	color: $paragraph;
}

$text-align: right, center, left, justify;

@each $option in $text-align {
	.text-#{$option} {
		text-align: $option;
	}
}
