@import '../../styles/base/colors';
@import '../fixedBars//FixedBottomBar.module.scss';

$font-size: 10px;

ul.menu-wrapper {
	margin: 0;
	padding: 0;
	list-style: none;

	& li {
		width: 79px;
		height: $BOTTOM_BAR_HEIGHT;
		display: flex;
		border-radius: 25px;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, black);

		& a {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			height: 100%;
			align-items: center;
			justify-content: space-evenly;
			text-decoration: none;
			color: $paragraph;
			font-weight: 400;

			& i {
				font-size: 20px;
			}

			& span {
				font-size: $font-size;
				max-width: 65px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
