wordpress/wp-app/
wordpress/project-paradise/node_modules/
wordpress/project-paradise/build/
wordpress/project-paradise/vendor/

!wordpress/wp-app/
wordpress/wp-app/*
!wordpress/wp-app/wp-includes/
wordpress/wp-app/wp-includes/*
!wordpress/wp-app/wp-includes/css/
wordpress/wp-app/wp-includes/css/*
!wordpress/wp-app/wp-includes/css/dist
wordpress/wp-app/wp-includes/css/dist/*
!wordpress/wp-app/wp-includes/css/dist/block-library/
wordpress/wp-app/wp-includes/css/dist/block-library/*
!wordpress/wp-app/wp-includes/css/dist/block-library/theme.min.css
!wordpress/wp-app/wp-includes/css/dist/block-library/style.min.css


gatsby/public/
gatsby/node_modules/
gatsby/.cache/