@import '../../../../common-styles/modules/grid';
@import '../../../../common-styles/modules/breakpoints';
@import '../../../../common-styles/modules/colors';
@import '../../../../common-styles/modules/typography';
@import '../../../../common-styles/modules/spacing';
@import '../../styles/modules/z-indexes';

.page-title-container {
	position: relative;

	&:before {
		content: '';
		top: $title-3-line-height / 2;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 2px;
		position: absolute;
		background: $line;
		z-index: $zi-line;
		width: 90%;
		min-width: calc(100% - #{$grid-gutter});

		@media (min-width: $sm) {
			min-width: calc(#{$sm-content-width} + #{$grid-gutter});
		}

		@media (min-width: $md) {
			min-width: calc(#{$md-content-width} + #{$grid-gutter});
		}

		@media (min-width: $lg) {
			min-width: calc(#{$lg-content-width} + #{$grid-gutter});
		}

		@media (min-width: $xl) {
			min-width: calc(#{$xl-content-width} + #{$grid-gutter});
		}
	}
}

h1.title {
	display: inline;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	background: white;
	padding: 0 $base-size;
	margin: 0 -$base-size;
}
