@import '../../styles/base/colors';
@import '../../styles/partials/z-indexes';
@import '../../styles/base/grid';

.page-title-container {
	position: relative;

	&:before {
		content: '';
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 2px;
		width: 90%;
		position: absolute;
		background: $line;
		z-index: $zi-line;
	}
}

.title {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: calc(100% + #{$grid-gutter});
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
		background: $white;
		z-index: $zi-line-overlay;
	}
}
