@import '../../../../common-styles/modules/grid';

@media (min-width: $lg) and (max-width: map-get($breakpoints-max, 'lg')) {
	.lg-narrow {
		margin: auto;
		max-width: calc(#{$lg-content-width / $grid-columns * 6} - #{$grid-gutter});
	}
}

@media (min-width: $xl) {
	.xl-narrow {
		margin: auto;
		max-width: calc(#{$xl-content-width / $grid-columns * 6} - #{$grid-gutter});
	}
}

@media (max-width: map-get($breakpoints-max, 'sm')) {
	.sm-down-no-gutter {
		margin-left: -$grid-gutter / 2;
		margin-right: -$grid-gutter / 2;
	}
}
