@import '../../styles/partials/z-indexes';

$TOP_BAR_HEIGHT_MOBILE: 30px;


.bottom-bar-offset {
	// padding-bottom: $BOTTOM_BAR_HEIGHT;
}

.fixed-top-bar {
	background: rgba(255, 0, 0, 0.198);
	top: 0;
	right: 0;
	left: 0;
	z-index: $zi-fixed-top-bar;
	min-height: $TOP_BAR_HEIGHT_MOBILE;
}

.fixed-right-bar {
	background: rgb(128, 128, 128);
	top: 0;
	right: 0;
	bottom: 0;
	width: 85%;
	padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0);
	z-index: $zi-fixed-right-bar;
	transform: translateX(100%);

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		content: '';
		width: 200px;
		background: rgba(255, 230, 0, 0.315);
		transform: translateX(100%);
	}

	& .right-bar-handler-container {
		background: rgb(194, 194, 194);
		align-self: center;
		height: 300px;
		width: 20px;
		opacity: 0;
		transform: translate(-100%, -50%);
	}

	& .right-bar-content-container {
		overflow-y: auto;
		overscroll-behavior-y: none;
		margin-top: $TOP_BAR_HEIGHT_MOBILE;
		-webkit-overflow-scrolling: touch;
	}
}


