.body {
	background: blue;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bottom-bar {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: red;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main {
	padding-bottom: 90px;
}

.button {
	width: 50px;
	height: 50px;
	margin: 10px;
	background: white;
}