@import './variables';

$spacing-modifiers: (
	0: $init-size * 0,
	1: $init-size * 0.25,
	2: $init-size * 0.5,
	3: $init-size * 1,
	4: $init-size * 1.5,
	5: $init-size * 3
);

@each $space, $size in $spacing-modifiers {
	.ma-#{$space} {
		margin: $size;
	}

	.mt-#{$space} {
		margin-top: $size
	}

	.pa-#{$space} {
		padding: $size;
	}

	.px-#{$space} {
		padding-left: $size;
		padding-right: $size;
	}
}