$primary: #4267b2;
$secondary: #eab926;
$paragraph: #444;
$line: #c8c8c8;
$light-grey: #ececec;
$white: #fff;

$color-list: (
	'primary': $primary,
	'secondary': $secondary,
	'paragraph': $paragraph,
	'light-grey': $light-grey,
	'line': $line,
	'white': $white
);

@each $color-name, $color in $color-list {
	.bg-#{$color-name} {
		background-color: $color;
	}
}
