@import '../../styles/base/colors';
@import '../layouts/FixedMenusLayout.module.scss';

$font-size: 10px;

ul.menu-wrapper {
	margin: 0;
	padding: 0;
	list-style: none;

	& li {
		background: rgba(0, 0, 255, 0.541);
		width: 80px;
		height: $bottom-bar-height;
		display: flex;
		border-radius: 25px;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, black);

		& a {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			align-items: center;
			justify-content: space-evenly;
			text-decoration: none;
			color: $paragraph;
			font-weight: 400;

			& i {
				font-size: 20px;
			}

			& span {
				font-size: $font-size;
			}
		}
	}
}
