@import '../../styles/base/colors';

$font-size: 10px;

ul.menu-wrapper {
	margin: 0;
	padding: 0;
	list-style: none;

	& li {
background: rgba(0, 0, 255, 0.541);

		display: flex;
		width: 80px;
		justify-content: center;
		border-radius: 25px;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, black);

		& a {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			align-items: center;
			text-decoration: none;
			padding: 8px 6px 4px 6px;
			color: $paragraph;
			font-weight: 400;

			& i {
				font-size: 20px;
				margin-bottom: 4px;
			}

			& span {
				font-size: $font-size;
			}
		}
	}
}
