$font-size: 11px;

ul.menu-wrapper {
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	justify-content: space-around;

	list-style: none;

	& li {
		display: flex;
		

		& a {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-decoration: none;
			padding: 8px 6px 4px 6px;
			color: grey;

			& svg {
				font-size: 20px;
				margin-bottom: 3px;
			}

			& span {
				font-size: $font-size;
			}
		}
	}
}